[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonnet = "0.18.0"
jsonpath-ng = "1.5.3"

[dev-packages]
IPython = "*"
pytest = "7.1.2"

[requires]
python_version = "3.10"
